
body, html, * {
    background-color: rgb(16, 7, 20);
    color: rgb(22, 13, 7);
    margin-top: 0%;
    padding-top: 1px;
    padding-bottom: 1px;
}

#div0 {
    background-color: rgb(22, 20, 20);
    margin: 5% 5% 5% 0%;
    padding: 3%;
    border: 1px solid rgb(106, 207, 190);
    left: 20%;
    width: 70%;
    height: 30%;
    border-radius: 50px;
    
}

#p1 {
    margin-top: 0.5cm;
    color: turquoise;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 89%;
    text-align: justify;
    position: relative;
    background-color: inherit;
}

#titulo0 {
    color: rgb(67, 217, 255);
    text-decoration: underline overline turquoise;
    text-align: center;
    margin-top: 6%;
    margin-bottom: -2ch;
}

#ch {
    
    display: inline;
}

center > h3#idHeaderH3 {
    position: relative;
    margin-top:5%;
    margin-bottom: 4%;
    color: blueviolet;
}